<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Sans:300" rel='stylesheet' type='text/css'>
    <body style="background-color:#216C76">
    <style>
	    body {color:white; text-align:center; font-family: 'Josefin Sans', sans-serif; font-size: 100px;}
    </style>
  </head>
  <body>
  	<div>
    Pixxl<br>
    <br>
    Coming Soon!
    </div>
  </body>
</html>
